# Local dev stuff
local/

# Local config
app/config.json

# Custom scripts
app/scripts/start.sh
app/scripts/devrun.sh

# Local logs folder
logs/

# Python temp files
__pycache__/
*.pyc

# GNOMEish Trash folder
.Trash-1000/
